<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Good Burger</title>

    
    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Google Fonts for title -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

 </head>

<body>

    <nav>
        <div class="nav-wrapper" style="background: linear-gradient(180deg, rgb(75, 75, 75), rgb(110, 110, 110));">
            <div class="row">
                <h1>Welcome to Good Burger</h1>
                <br style="line-height:0px;" />
                </div>
        </div>
    </nav>
    
    {{{ body }}}

        <!-- Compiled and minified JavaScript -->
   <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/public-burgers.js"></script>
</body>

</html>